@tailwind base;
@tailwind components;
@tailwind utilities;

$background-rgb: 224, 237, 246;
$text-color-rgb: 21, 23, 42;

@media (prefers-color-scheme: dark) {
  $foreground-rgb: 0, 0, 0;
  $background-start-rgb: 214, 219, 220;
  $background-end-rgb: 255, 255, 255;
}

body {
  @apply text-base overflow-x-hidden w-screen h-screen m-0 p-0 flex;
  font-family: var(--font-inter), sans-serif;
  color: $text-color-rgb;
  background-color: $background-rgb;
}

.main-content {
  @apply flex h-full w-full;
}

.page-content {
  @apply flex-1 ml-24 mt-10 pr-6;
}

.toast {
  @apply border shadow-lg;
}

.toast.success {
  @apply border-success text-success;
}

.toast.danger {
  @apply border-danger text-danger;
}

.toast.warning {
  @apply border-warning text-warning;
}

.toast.info {
  @apply border-info text-info;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: black !important;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.page-header {
  @apply mb-7;
}

.page-title {
  @apply text-lg;
}

.search-document-form {
  @apply mb-5 flex flex-col lg:flex-row lg:justify-between;
}

.search-document-selector {
  @apply flex flex-col lg:flex-row gap-4 w-full lg:w-auto
}