@tailwind base;
@tailwind components;
@tailwind utilities;

$background-rgb: 224, 237, 246;
$text-color-rgb: 21, 23, 42;

@media (prefers-color-scheme: dark) {
  $foreground-rgb: 0, 0, 0;
  $background-start-rgb: 214, 219, 220;
  $background-end-rgb: 255, 255, 255;
}

body {
  @apply text-base overflow-hidden w-screen h-screen m-0 p-0;
  font-family: var(--font-inter), sans-serif;
  color: $text-color-rgb;
  background-color: $background-rgb;
}
